*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



#nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    border: 2px solid white;
    background-color: #87cefa;
    font-size: 20px;   
}

.md{
    opacity: 0.4;
}
h1{
    color: white;
    padding: 10px;
    margin: 10px;
    border: 0px solid white;
    background-color: #0000ff;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

ul{
    padding: 20px;
    margin: 10px;
}

li{
    display: inline;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

li:hover {
    right: 10px;
    color: white;
    background-color: #0000ff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}

#our{
    position: relative;
}
.ours{
    position: absolute;
    top: 30px;
    display: none;
}

#our:hover .ours{
    display: block;
    top: 66px;
    right: 0;
    color: white;
    padding: 15px;
    
    background-color: green;
    opacity: 0.5;
    border-radius: 8px;
}

#main{
    
    float: left;
    margin: 30px;
    padding: 30px;
   text-align: justify;
   width: 50%;

}

#tools{
    position: relative;
}

#tooltip{
    position: absolute;
    border: 1px solid white;
    border-radius: 8px;
    background-color: green;
    color: white;
    right: 110px;
    top: 8px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 2s;
    padding: 10px;
    width: 200px;
}

#tools:hover #tooltip{
    visibility: visible;
    color: white;
    opacity: 0.5;
}

#tools #tooltips{
    visibility: hidden;
    width: 150px;
    border: 2px solid #87cefa;
    margin: 5px;
    padding: 5px;
    text-align: center;  
    z-index: 1;
}

#joba .appo{
   
    width: 30%;
    height: 400px;
   
}
.appo img{
    /* background: radial-gradient(circle, white, blue, #87cefa); */
    box-shadow: 0 4px 8px 0 #87cefa, 0 4px 8px 0 #87cefa;
    border-radius: 12px;
    width: 100%;
    height:350px;
    padding: 20px;
    margin: 20px;
}
#job{
    border-radius: 12px;
    width: 30%;
    height: 400px;
    float: left;
    padding: 30px;
    margin: 30px;
    box-shadow: 0 4px 8px 0 #87cefa, 0 4px 8px 0 #87cefa;
}

#job .app{
    border: 1px solid #87cefa;
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    text-align: justify;
    background-color: #87cefa;
    color: #0000ff;
}


#job .apps{
    padding: 20px;
    margin: 20px;
    text-align: justify;
    opacity: 0.6;
}

#my_job{
    box-shadow: 0 4px 8px 0 #87cefa, 0 4px 8px 0 #87cefa;
    float: right;
    border: 1px solid #87cefa;
    border-radius: 12px;
    padding: 30px;
    margin: 30px;
    width: 60%;
    height: 450px;
}

.my_active {
    border: 1px solid #87cefa;
    height: 250px;
    border-radius: 12px;
}


.data{
    padding: 10px;
    margin: 10px;
    display: flex;
}

.data .hire{    
    background-color: green;
    color: white;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    width: 150px;
    top: 10px;
    text-align: center;
}

.hire{
    padding: 5px;
    margin: 5px;
}

.skillss{
    padding: 5px;
    margin: 5px;
}

.skill{
    padding: 10px;
    margin: 10px;
    display: flex;
}

.skill .skills{
    border: 1px solid #87cefa;
    background-color: #87cefa;
    color: #0000ff;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    width: 200px;
    top: 0;
    text-align: center;
    opacity: 0.6;
    
}

.not_active{
    padding: 10px;
    margin: 10px;
}

#footer{
    border: 1px solid #87cefa;
    background-color: #87cefa;
    text-align: center;
    padding: 20px;
    margin: 0;
    font-size: 20px;
}

.clr{
    clear: both;
}

#course{
    display: block;
    border: 1px solid #87cefa;
    padding: 10px;
    margin: 10px;
    width: 25%;
    height: 250px;
}

#courses{
    
    display: flex;
    margin: 10px;
    padding: 10px;
    border: 1px solid #87cefa;
    background-color: #87cefa;
    width: 25%;
    color: #0000ff;
}

#courses .courses_li{
    visibility: hidden;
}

#courses:hover .courses_li{
    visibility: visible;
    border: 1px solid #87cefa;
    padding: 10px;
    margin: 5px;
    right: -200px;
    z-index: 1;
}

